@import url("http://getbootstrap.com/2.3.2/assets/css/bootstrap.css");
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }
	  
	  .information{
		 margin-left: 10px;
	  }
	  
	  .pullleft {
		float: left;
	  }
	  
	  .pullright {
		float:right;
	  }

      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
		background: url('../img/cream_dust_transparent.png') repeat 0 0;
      }
	  
      .container-narrow > hr {
        margin: 30px 0;
      }
	  
	  #first {
		color: deepskyblue;
	  }
	  
	  # honours-info{
		overflow: auto;
	  }
	  
		#conversion	{
			font-size: 15px;
			margin-left: 300px;
			padding: 0px;
			margin-right: 0px;
			margin-bottom: 0px;
			border: 0px;
			float: right;
			display: inline;
		}
	  
	  

	  h1, h2, h3, h4, h5, h6 {
		 font-family: 'Raleway', Helvetica, Arial, sans-serif;
		 
		}
		h1 {
			font-size: 70px;
			padding: 20px;
		}
		h2 {
			font-size: 40px;
			margin-left: 10px;
			margin-bottom: 20px;
		}
		h4 {
			font-size: 25px;
			margin-left: 10px;
			margin-bottom: 20px;
		}
	div, p, span {
		font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
		font-size: 20px;
		font-weight: normal;
	}
	
	p {
		margin-left: 20px;
		margin-right: 20px;	
		padding: 5px;
	}
	

	
	footnote {
		color: white;
	}